.content{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: red; 
    padding: 20px;
    width: 100%;
    
}

#display {
    width: 100% ;

}

#slider {
    width: 100%;

}

.previous_passwords { 
    margin-bottom: 20px;

}